{% extends "base2.html" %}
{% load static %}
{% block content %}
<main>
    <ul class="employees-list"></ul>
</main>

<template class="employee-template">
    {% for intern in interns %}
    <a href="{% url 'users:profile' slug=intern.slug %}">
        <li class="employee">
            <div class="employee-left-container">
                <img src="./img/user-1.svg">
            </div>
            <div class="employee-right-container">
                <h3 class="employee-name">{{ intern.surname }} {{ intern.first_name }} {{ intern.last_name }}</h3>
            </div>
        </li>
    </a>
    {% endfor %}
</template>

{% endblock %}