{% extends "base.html" %}
{% load static %}
{% block content %}

<main>
    <div class="container">
        <div class="inner-container">
            <h1>{{ title }}</h1>
            <p class="enter-info">Войдите, чтобы продолжить</p>
            <form action="{% url "users:login" %}" method="post">
                {% csrf_token %}
                <div class="input-container">
                    <label class="input-info" for="email-input">Почта</label>
                    <input id='email' type="text" name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" required>
                </div>

                <div class="input-container">
                    <label class="input-info" for="password-input">Пароль</label>
                    <div class="password-eye-container">
                        <div class="password-eye-button">
                            <img class="open-eye-img" src="{% static "img/eye-open.svg"%}" alt="Скрыть пароль">
                            <img class="closed-eye-img" src="{% static "img/eye-closed.svg"%}" alt="Показать пароль">
                        </div>
                    </div>
                </div>


                <input id="password" type="password" name="password" required>

                <div class="remember-recover-password-container">
                    <div class="remember">
                        <input type="checkbox" id="remember" name="remember">
                        <label class="remember-text" for="remember">Запомнить меня</label>
                    </div>
                    <div class="recover-password">
                        <a href="#">Забыл пароль</a>
                    </div>
                </div>

                <button class="auth_submit_button" type="submit">Войти</button>
            </form>

            <p class="no-account">Еще нет аккаунта? <a href={% url "users:signup" %}
                    class="register">Зарегистрируйтесь</a></p>
        </div>
    </div>
</main>
<script src={% static "js/auth_register.js" %}></script>

{% endblock content %}