{% extends "base2.html" %}
{% load static %}
{% block content %}
        <link type="text/css" href="{% static 'css/profile.css' %}" rel="stylesheet">

        <div class="profile-forms-container">
            <form class="profile-info-form">
                <div class="profile-inputs-container">
                    <div class="profile-info-item">
                        <label class="profile-info-label" for="profile-name-input">Имя</label>
                        <input id="profile-name-input" class="profile-info-input" type="text" name="name"
                            value={{first_name}} readonly required>
                    </div>
                    <div class="profile-info-item">
                        <label class="profile-info-label" for="profile-lastname-input">Фамилия</label>
                        <input id="profile-lastname-input" class="profile-info-input" type="text" name="lastname"
                            value={{last_name}} readonly required>
                    </div>
                    <div class="profile-info-item">
                        <label class="profile-info-label" for="profile-middlename-input">Отчество</label>
                        <input id="profile-middlename-input" class="profile-info-input" type="text"
                            name="middlename" value={{surname}} readonly>
                    </div>
                    <div class="profile-info-item">
                        <label class="profile-info-label" for="profile-email-input">Почта</label>
                        <input id="profile-email-input" class="profile-info-input" type="email" name="email"
                            value={{email}} readonly required>
                    </div>
                    <!--
                                        <div class="profile-info-item">
                                            <label class="profile-info-label" for="profile-password-input">Пароль</label>
                                            <input id="profile-password-input" class="profile-info-input" type="password" name="password"
                                                value="your_password" disabled>
                                        </div>
                                        -->
                    <div class="profile-info-item">
                        <label class="profile-info-label" for="profile-tel-input">Номер телефона</label>
                        <input id="profile-tel-input" class="profile-info-input" type="tel" name="phone"
                            value={{phone_number}} readonly required>
                    </div>
                    <div class="profile-info-item">
                        <label class="profile-info-label" for="profile-language-input">Язык</label>
                        <input id="profile-language-input" class="profile-info-input" type="text" name="language"
                            value="Русский" list="languages" readonly>
                        <datalist id="languages">
                            <option value="-"></option>
                            <option value="Английский"></option>
                            <option value="Русский"></option>
                            <option value="Испанский"></option>
                            <option value="Французский"></option>
                            <option value="Немецкий"></option>
                            <option value="Другой"></option>
                        </datalist>
                    </div>
                </div>
                {% if user.is_authenticated and user.slug == slug %}
                <div class="profile-info-buttons">
                    <a href={% url "users:edit_profile" slug=user.slug %}>Редактировать</a>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    <script src={% static "js/profile.js"%}></script>
    <script src={% static "js/aside_bar.js"%}></script>
    
{% endblock %}