header {
  margin: 0 54px;
}

.top-home-link {
  display: flex;
  padding: 22px 0 0;
}

.top-home-link h2 {
  margin-left: 22px;
  color: #6956e5;
  font-family: Manrope;
  font-size: 22px;
  font-weight: 700;
  line-height: 30.05px;
  text-align: left;
}

main {
  height: calc(100% - 77px);
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}
.inner-container {
  width: 555px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  line-height: 48.41px;
  margin-bottom: 16px;
  color: #313131;
}
.enter-info {
  /* Не удалось подключить шрифт Poppins */
  font-family: Inter;
  color: #313131;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 3px;
}

form {
  width: 100%;
}

.input-info {
  position: absolute;
  margin-top: 15px;
  margin-left: 12px;
  padding: 0 4px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #1c1b1f;
  background-color: #ffffff;
}
#login,
#password {
  display: block;
  height: 56px;
  width: 100%;
  margin-top: 24px;
  border: 1px solid #000000;
  border-radius: 4px;
  padding-left: 16px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1c1b1f;
}

.password-eye-container {
  display: flex;
  justify-content: end;
}

.password-eye-button {
  display: inline-block;
  position: absolute;
  margin-right: 12px;
  margin-top: 40px;
}

.password-eye-button:hover {
  cursor: pointer;
}

.password-eye-button.open .open-eye-img,
.password-eye-button .closed-eye-img {
  display: none;
}

.password-eye-button .open-eye-img,
.password-eye-button.open .closed-eye-img {
  display: block;
}

.remember-recover-password-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 39px;
}

.remember input {
  transform: scale(1);
}
.remember-text {
  font-family: Inter;
  font-size: 14px;
  line-height: 21px;
}

.recover-password {
  text-align: right;
}
.recover-password a {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #6956e5;
}

.auth_submit_button {
  display: block;
  height: 48px;
  width: 100%;
  border: 0;
  border-radius: 10px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  background-color: #8f84cf;
  color: #ffffff;
  margin-top: 7px;
}

.no-account {
  margin-top: 32px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  color: #313131;
}
.no-account a {
  color: #6956e5;
}
