{% extends "base2.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href={% static "css/create-task.css" %}>
<main>
    <form class="create-task-form" action="{% url "tasks:create-task"  %}" method="post">
        {% csrf_token %}
        <div class="inputs-grid">

            <div class="input-container">
                <label class="new-task-label" for="new-task-name">Название</label>
                <input type="text" id="new-task-name" name="title" class="new-task-input" autocomplete="off" value="{% if form.title.value %}{{ form.title.value }}{% endif %}" autofocus required>
            </div>
            <div class="input-container">
                <label class="new-task-label" for="new-task-start">Дата начала</label>
                <input type="date" id="new-task-start" name="date_start" class="new-task-input" value="{% if form.date_start.value %}{{ form.date_start.value }}{% endif %}">
            </div>
            <div class="input-container">
                <label class="new-task-label" for="new-task-end">Дата окончания</label>
                <input type="date" id="new-task-end" name="deadline" class="new-task-input" value="{% if form.deadline.value %}{{ form.deadline.value }}{% endif %}">
            </div>
            <div class="stub"></div>
            <div class="input-container">
                <label class="new-task-label" for="new-task-description">Описание</label>
                <textarea id="new-task-description" name="description" class="new-task-textarea" value="{% if form.description.value %}{{ form.description.value }}{% endif %}"></textarea>
            </div>
            <div class="input-container requirements-container">
                <label class="new-task-label" for="new-task-requirements">Требования</label>
                <textarea id="new-task-requirements" name="requirments" class="new-task-textarea" value="{% if form.requirments.value %}{{ form.requirments.value }}{% endif %}"></textarea>
            </div>
        </div>
        <div class="button-container">
            <button class="submit-button" type="submit">Создать</button>
        </div>
    </form>
    <div class="button-container">
        <a href={% url "users:tasks_for_me" slug=user.slug %} class="back-to-tasks-link">Назад к задачам</a>
    </div>
</main>

{% endblock %}