.task-name {
  margin-left: 20px;
}

.task-info {
  display: flex;
  width: 100%;
  gap: 28px;
}

.task-1st-group {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 2;
  height: 100%;
}

.task-deadline {
  position: absolute;
  align-self: flex-end;
  width: 148px;
  height: 40px;
  top: 15px;
  right: 12px;
}

.deadline-label {
  position: absolute;
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-weight: 700;
  color: #7363dd;
  width: 100%;
  margin-top: -11.5px;
}

.deadline-label span {
  background-color: #f5f5f5;
}

.deadline-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 4px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.task-description {
  background-color: #f5f5f5;
  border-radius: 8px;
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 28.5px;
  padding: 12px;
  height: max-content;
  flex-grow: 1;
}

.edit-task-button {
  align-self: flex-end;
  padding: 12px 7.5px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(102, 86, 210, 1);
}

.task-2nd-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.task-files-requires {
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.2px;
  padding: 19px 12px;
  background-color: rgba(236, 234, 254, 1);
  border-radius: 10px;
  margin-bottom: 13px;
  flex-grow: 1;
}

.buttons-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 18px;
}

.task-action-button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: rgba(105, 86, 229, 1);
  border: 1px solid rgba(105, 86, 229, 1);
  border-radius: 12px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.add-file-button {
  grid-column: span 2;
}

.plug-under-buttons {
  height: 48px;
}
